extends ../main

block content
  script.
    const TRASH_URL = '#{route.name("api-admin-delete-media")}'
    const FILTER_URL = '#{route.name("api-admin-filter-media")}'
  .well
    .fluid.row
      h1.col-6.no-margin.overflow-ellipsis #{page == 'file-details' ? ' ' + get('file') : 'Media Files'}
      h1.col-6.text-right #{page == 'file-details' ? ' ' + mime(get('file')) : ''}
  if page == 'file-list'
    .fluid.row
      a(href='' data-type='image').col.media-filter.image-filter Images
      a(href='' data-type='video').col.media-filter.video-filter Videos
      a(href='' data-type='audio').col.media-filter.audio-filter Audio
      a(href='' data-type='font').col.media-filter.compress-filter Fonts
      a(href='' data-type='application').col.media-filter.other-filter Apps
  .well
    if page == 'file-details' && files.length > 0
      p.fluid.row.text-bold
        span.col-1.text-center Actions
        span.col-1.text-center Info
        span.col-2 Date Uploaded
        span.col-2 File Size
    if page == 'file-list' && files.length > 0
      p.fluid.row.text-bold
        span.col-1.text-center Actions
        span.col-3 Filename
        span.col-2 Number of Files
        span.col-2 Size of Files
    - var c = 0
    each i in files
      if page == 'file-list'
        .fluid.row(data-file=`${i.filename}`)
          span.col-1.text-center
            span.margin-right-5
              a(title="Move to trash" href='').trash-delete.red-text: i.fa-lg.fa-fw.far.fa-trash-alt
              span.spinner.hidden: i.fa-lg.fa-fw.fas.fa-spin.fa-sync
            span
              a(href=`${i.filename}` target='_blank'): i.fa-lg.fa-fw.far.fa-eye
          .col-3.overflow-ellipsis: a(href=`${route.name('admin-media-file')}?file=${i.filename}` title=`${i.filename}`)= i.filename
          .col-2= i.files
          .col-2: +bytesToSize(i.size)
      else if page == 'file-details'
        p.fluid.row(data-id=`${i._id}`)
          span.col-1.text-center
            span.margin-right-5
              a(title="Move to trash" href='').trash-delete.red-text: i.fa-lg.fa-fw.far.fa-trash-alt
              span.spinner.hidden: i.fa-lg.fa-fw.fas.fa-spin.fa-sync
            span
              a(href=`${i.filename}` target='_blank'): i.fa-lg.fa-fw.far.fa-eye
          span.col-1.text-center
            if c == 0
              span.label.label-info current
          span.col-2= new Date(i.uploadDate).toLocaleString('en-US')
          span.col-2: span(title=`${String(i.length).replace(/\B(?=(\d{3})+(?!\d))/g, ",")} Bytes`): +bytesToSize(i.length)
      - c++
    else
      div No media files have been uploaded