extends ../main

block content
  script.
    const TRASH_RESTORE_URL = '#{route.name("api-admin-restore-media")}'
    const TRASH_PURGE_URL = '#{route.name("api-admin-purge-media")}'
  .well
    .fluid.row
      h1 Media File Trash
  .well
    if page == 'file-details' && files.length > 0
      p.row.text-bold
        span.col-1.text-center Actions
        span.col-3 Filename
        span.col-2 Date Uploaded
        span.col-2 Date Deleted
        span.col-2 File Size
    each i in files
        p.row(data-id=`${i.restore_id}`)
          span.col-1.text-center
            span.margin-right-5
              a(title="Purge from trash" href="").trash-purge.light-blue-text: i.fa-lg.far.fa-times-circle.red-text
              span.spinner.hidden: i.fa-lg.fas.fa-spin.fa-sync
            span.margin-right-5
              a(title="Restore from trash" href="").trash-restore.light-blue-text: i.fa-lg.fas.fa-undo-alt
              span.spinner.hidden: i.fa-lg.fas.fa-spin.fa-sync
            //- span
              a(href=`/admin/trash/preview/${i._id}` target='_blank'): i.fa-lg.fa-fw.far.fa-eye
          span.col-3.overflow-ellipsis= i.data.filename
          span.col-2= new Date(i.data.uploadDate).toLocaleString('en-US')
          span.col-2= new Date(i.deleteDate).toLocaleString('en-US')
          span.col-2: span(title=`${String(i.data.length).replace(/\B(?=(\d{3})+(?!\d))/g, ",")} Bytes`): +bytesToSize(i.data.length)
    else
      div The trash is empty!
