nav.main
  ul
    li(class=`${route.is('admin-home', 'active')}`)
      a(href=`${route.name('admin-home')}`) #[i.fa-lg.fas.fa-fw.fa-home] Home
    li(class=`${route.is('admin-pages', 'active')}`)
      a(href=`${route.name('admin-pages')}`) #[i.fa-lg.fas.fa-fw.fa-code] Pages
    li(class=`${route.in(['admin-media', 'admin-media-file'], 'active')}`)
      a(href=`${route.name('admin-media')}`) #[i.fa-lg.fas.fa-fw.fa-theater-masks] Media
    li(class=`${route.is('admin-themes', 'active')}`)
      a(href=`${route.name('admin-themes')}`) #[i.fa-lg.fas.fa-fw.fa-palette] Themes
    li(class=`${route.is('admin-components', 'active')}`)
      a(href=`${route.name('admin-components')}`) #[i.fa-lg.fas.fa-fw.fa-puzzle-piece] Components
    li(class=`${route.is('admin-plugins', 'active')}`)
      a(href=`${route.name('admin-plugins')}`) #[i.fa-lg.fas.fa-fw.fa-plug] Plugins
    li(class=`${route.is('admin-comments', 'active')}`)
      a(href=`${route.name('admin-comments')}`) #[i.fa-lg.fas.fa-fw.fa-comments] Comments
    li(class=`${route.is('admin-tools', 'active')}`)
      a(href=`${route.name('admin-tools')}`) #[i.fa-lg.fas.fa-fw.fa-wrench] Tools
    li(class=`${route.is('admin-settings', 'active')}`)
      a(href=`${route.name('admin-settings')}`) #[i.fa-lg.fas.fa-fw.fa-cog] Settings
    li(class=`${route.is('admin-trash', 'active')}`)
      a(href=`${route.name('admin-trash')}`) #[i.fa-lg.fas.fa-fw.fa-trash-alt] Trash
    li
      a(href=`${route.name('admin-logout')}`) #[i.fa-lg.fas.fa-fw.fa-power-off] Logout