extends main

block content
  script.
    const TRASH_URL = '#{route.name("api-admin-delete-media")}'
  .well.row
    h1.col-6.no-margin #{page == 'file-details' ? ' ' + get('file') : 'Media Files'}
    h1.col-6.text-right #{page == 'file-details' ? ' ' + mime(get('file')) : ''}
  if page == 'file-list'
    .fluid
      .row
        a(href='').col.media-filter.image-filter Images
        a(href='').col.media-filter.video-filter Videos
        a(href='').col.media-filter.audio-filter Audio
        a(href='').col.media-filter.compress-filter Compressed
        a(href='').col.media-filter.other-filter Other
  .well
    if page == 'file-details' && files.length > 0
      p.row.text-bold
        span.col-1.text-center Actions
        span.col-1.text-center Info
        span.col-2 Date Uploaded
        span.col-2 File Size
    - var c = 0
    each i in files
      if page == 'file-list'
        div: a(href=`${route.name('admin-media-file')}?file=${i.filename}`)= i.filename
      else if page == 'file-details'
        p.row(data-id=`${i._id}`)
          span.col-1.text-center
            a(title="Move to trash" href="").trash-delete.red-text: i.fa-lg.far.fa-trash-alt
            span.spinner.hidden: i.fa-lg.fas.fa-spin.fa-sync
          span.col-1.text-center
            if c == 0
              span.label.label-info current
          span.col-2= new Date(i.uploadDate).toLocaleString('en-US')
          span.col-2: span(title=`${String(i.length).replace(/\B(?=(\d{3})+(?!\d))/g, ",")} Bytes`)= (i.length / 1024 / 1024).toFixed(2) + ' MB'
      - c++
    else
      div No media files have been uploaded